.text-right {
  text-align: right;
}

.control-label {
  padding: 0 !important;
}

.hidden {
  display: none;
}

.form-control-time {
  width:50%;
}

.form-control {
  display: inline-block;
  vertical-align: middle;
}

.notes {
  height:38px;
  line-height: 38px;
}
